<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liuyiyou.mybatis.mapper.chapter10.UserMapper">

	<cache type="org.mybatis.caches.memcached.MemcachedCache" />
	
	<select id="selectAll" resultType="cn.liuyiyou.mybatis.domain.chapter10.User">
		select * from user;
	</select>
	
	<update id="updateById">
	    update user set name = '49' where id = #{id}
	</update>


</mapper>