<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liuyiyou.mybatis.mapper.chapter10.UserMapper">

	<resultMap type="cn.liuyiyou.mybatis.domain.chapter10.User"
		id="baseResultMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
	</resultMap>

	<resultMap type="cn.liuyiyou.mybatis.domain.chapter10.User"
		id="baseResultMapAddress">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
		<!--javaType不能少 -->
		<association property="address" column="address"
			javaType="cn.liuyiyou.mybatis.domain.chapter10.Address">
			<id column="address_id" property="id" />
			<id column="prov" property="prov" />
			<id column="city" property="city" />
		</association>

	</resultMap>

	<cache type="org.mybatis.caches.memcached.MemcachedCache" />
	
	<!-- 下面的关联查询涉及到了address表 -->
	<cache-ref namespace="cn.liuyiyou.mybatis.mapper.chapter10.AddressMapper"/>


	<select id="getDetailById" resultMap="baseResultMapAddress">
		select
		u.id,u.name,u.age, a.id as address_id, a.prov, a.city
		from user as u
		left join address a on u.address = a.id where u.id =
		#{id}

	</select>

	<select id="selectAll" resultType="cn.liuyiyou.mybatis.domain.chapter10.User">
		select * from user;
	</select>

	<update id="updateById">
		update user set name = '49' where id = #{id}
	</update>


</mapper>